body {
  font-family: "Arial", sans-serif;
  /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  background-color: #0E2A43;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.confirm-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.user-icon {
  width: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  margin: 10px -10px;
  font-size: 16px;
  background-color: #e9ecf0;
  max-width: 300px;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.custom-input:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
}

p {
  color: #fff;
  margin-top: 20px;
}

button {
  width: 40%;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bolder;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.back-button{
  background-color: orange;
  color: black;
  font-weight: bolder;
  margin-right: 25px;
}

button:hover {
  background-color: #d0d1e9;
}
.back-button:hover{
  background-color: rgb(207, 137, 7);
}
.sp{
  direction: rtl;
  text-align: right;
  display: block;
  color: orange;
  margin-right: 12px;
}